In [2]:
%pip install pandas requests openpyxl

Requirement already satisfied: pandas in c:\users\campusfp\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: requests in c:\users\campusfp\anaconda3\lib\site-packages (2.32.2)
Requirement already satisfied: openpyxl in c:\users\campusfp\anaconda3\lib\site-packages (3.1.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\campusfp\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\campusfp\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\campusfp\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\campusfp\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\campusfp\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\campusfp\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\campusfp\anaconda3\lib\site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\campusfp\anaconda3\lib\site-packages (from requests) (2024.8.30)
Requirement already satisfied: et-xmlfile in c:\users\campusfp\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\campusfp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import requests
from IPython.display import display

In [10]:
# Descargar el archivo Excel del INE
url = "https://www.ine.es/jaxiT3/files/t/es/xlsx/62271.xlsx?nocab=1"
file_path = "dataset.xlsx"

# Descargar el archivo y guardarlo localmente
response = requests.get(url)
with open(file_path, 'wb') as file:
    file.write(response.content)

# Leer el archivo Excel en un DataFrame
df = pd.read_excel(file_path, engine='openpyxl')
print("Datos cargados en el dataset")

Datos cargados en el dataset

c:\Users\CampusFP\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [21]:

# Función para limpiar datos
def limpiar_datos(df):
    # Reemplazar valores NaN por una cadena vacía
    df.fillna('', inplace=True)
    # Eliminar columnas sin nombre
    df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
    return df

df = limpiar_datos(df)
print("Datos limpiados")

# Mostrar las primeras filas del dataset limpio
display(df)

Datos limpiados

    Cuentas trimestrales no financieras de los sectores institucionales. Revisión 2024.
0                      S11. Sociedades no financieras
1
2                                     Saldos contables
3                        Unidades:   %, Millones Euros
4
..                                                 ...
213
214
215                                             Notas:
216
217                                           Fuente:

[218 rows x 1 columns]

In [26]:
# Guardar los datos en un archivo de texto
with open('lista.txt', 'w') as f:
    for row in df.values:
        f.write(' '.join(map(str, row)) + '\n')
print("Datos guardados en lista.txt")

Datos guardados en lista.txt

In [30]:
# Función para calcular estadísticas
def calcular_estadisticas(df):
    # Filtrar solo las columnas numéricas
    df_numerico = df.select_dtypes(include='number')
    moda = df_numerico.mode()
    estadisticas = {
        'media': df_numerico.mean(),
        'varianza': df_numerico.var(),
        'moda': moda.iloc[0] if not moda.empty else 'No hay moda'
    }
    return estadisticas

estadisticas = calcular_estadisticas(df)
print("Estadísticas calculadas")
print(estadisticas)

Estadísticas calculadas
{'media': Series([], dtype: float64), 'varianza': Series([], dtype: float64), 'moda': 'No hay moda'}

In [35]:
# Clase Dataset
class Dataset:
    def __init__(self, **kwargs):
        self.__dict__.update(kwargs)
    
    def __str__(self):
        return str(self.__dict__)
    
    def actualizar_atributo(self, atributo, valor):
        setattr(self, atributo, valor)
    
    def __eq__(self, otro):
        return self.columna2 == otro.columna2
    
    def __add__(self, otro):
        return Dataset(**{k: v + otro.__dict__[k] for k, v in self.__dict__.items()})
    
    def __sub__(self, otro):
        return Dataset(**{k: v - otro.__dict__[k] for k, v in self.__dict__.items()})

# Crear objetos y probar métodos
obj1 = Dataset(columna1=1, columna2=2)
obj2 = Dataset(columna1=3, columna2=4)
print(obj1 + obj2)
print(obj1 - obj2)

# Mostrar la tabla final
display(df)

{'columna1': 4, 'columna2': 6}
{'columna1': -2, 'columna2': -2}

,Cuentas trimestrales no financieras de los sectores institucionales. Revisión 2024.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,S11. Sociedades no financieras,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Saldos contables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Unidades: %, Millones Euros",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,Notas:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,Fuente:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
# Código para generar y mostrar las tablas
import pandas as pd

# Cargar datos desde el archivo Excel
df = pd.read_excel('dataset.xlsx')

# Mostrar la tabla
from IPython.display import display
display(df)

c:\Users\CampusFP\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Cuentas trimestrales no financieras de los sectores institucionales. Revisión 2024.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,S11. Sociedades no financieras,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Saldos contables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Unidades: %, Millones Euros",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,Notas:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,Fuente:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN